.link-type-2 {
    /* background: linear-gradient(to right, #43e97b, #38f9d7); */
    color: #fff;
    border-radius: 8px;
    padding: 20px;
  }
  
  .link-title {
    font-size: 24px;
    color: #fff;
  }
  
  .link-subtitle {
    font-size: 16px;
    color: #fff;
  }
  